.btndelete {
  color: #fff;
  background: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.btndelete:hover,
.btndelete:focus {
  background-color: #0d5ab3;
  
}
 .itemname{
  display: flex;
  align-items: center;
  gap: 4px;
 }

 .itemnumber {
  display: flex;
  align-items: center;
  gap: 5px;
 }

 .btnedit {
  color: #fff;
  background: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
  margin-left: 20px;
 }

 .btnedit:hover,
 .btnedit:focus {
  background-color: #0d5ab3;
 }

 .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
 }

 .overlay {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
 }


.modalContent {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
} 

.modalText {
  color: black;
  font-size: 20px;
    font-weight: 400;
}



.deleteIcon{
color: #fff;
width: 40px;
height: 25px;
}

.deleteIcontwo {
  color: #fff;
  width: 40px;
  height: 25px;
}

.modalButtons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.yesButton,
.noButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.yesButton {
  background-color: #1677ff;
  color: #fff;
}

.yesButton:hover,
.yesButton:focus {
  background-color: #0d5ab3;
}

.noButton {
  background-color: #1677ff;
  color: #fff;
} 

.noButton:hover,
.noButton:focus {
  background-color: #0d5ab3;
}
