.contactlist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.contactitem {
    width: 160px;
    border: 1px solid #808080;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    transition: all 0.2s ease-in-out;
}

.contactitem:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}